#new-tacos {
	width: 850px;
	margin-top: 60px;
	margin-bottom: 60px;
	padding-top: 40px;
	padding-bottom: 0px;
	background-color:#DCDCDC;
	border-style:solid;
	border-color: black;
	border-radius: 3px;
	font-weight: bold;
	opacity: .7;
	display: flex;
	flex-direction: column;
    justify-content: center;
}

#results-table {
    width: 850px;
	margin-top: 30px;
	margin-bottom: 60px;
	/* margin-left: auto; */
	margin-right: auto;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color:#DCDCDC;
	border-style:solid;
	border-color: black;
	border-radius: 3px;
	font-weight: bold;
	opacity: .7;
	display: flex;
	flex-direction: column;
	justify-content: center;
}




body{
    background: url("../images/g.jpg");
    background-size: 1600px, 900px;
}

#hugeButton{
	background-color: black;
	color: white;
	font-weight: 700;
	margin-bottom: 30px;
	margin-top: 15px;
} 

form input {
    display: inline-block;
    margin: 0px;
}


#nearest-taco {
	font-size: 30px;
	font-weight: bold;
}