#new-tacos {
	width: 850px;
	margin-top: 60px;
	margin-bottom: 60px;
	padding-top: 40px;
	padding-bottom: 0px;
	background-color:#DCDCDC;
	border-style:solid;
	border-color: black;
	border-radius: 3px;
	font-weight: bold;
	opacity: .7;
	display: flex;
	flex-direction: column;
    justify-content: center;
}

#results-table {
    width: 850px;
	margin-top: 60px;
	margin-bottom: 60px;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color:#DCDCDC;
	border-style:solid;
	border-color: black;
	border-radius: 3px;
	font-weight: bold;
	opacity: .7;
	display: flex;
	flex-direction: column;
	justify-content: center;
}




body{
    background: url("../images/g.jpg");
    background-size: 1600px, 900px;
}

#hugeButton{
	background-color: black;
	color: white;
	font-weight: 700;
	margin-bottom: 30px;
	margin-top: 15px;
} 

form input {
    display: inline-block;
    margin: 0px;
}

/* form.form-line {
    max-width: 100%;
}

.form-control {
    margin: 0;
    display: inline-block;
    /* position: relative; */
/* }  */


/* #navbar {
    position: relative;
    margin: auto;
}

.navbar.navbar-light.bg-light navbar-expand-sm {
	background-color: transparent !important;
}




/* .col-md-9.text-center.border
{
    background-color:rgb(235, 96, 96);
    opacity: 0.9;
    color: whitesmoke;
    font-weight: 900;
    font-style: oblique;
} */


/* button.btn.btn-secondary.my-2.my-sm-0{
    color: whitesmoke;
    font-weight: 900;
    font-style: oblique; */
    
/* } */

/* #top{
	background-color: rgba(238, 238, 90, 0.856);
	color: RGB(217, 0, 0);
	border-style:solid;
	border-color: black;
	border-radius: 7px;
	font-weight: bold;
	opacity: 1;
	display: flex;
	flex-direction: column;
    justify-content: center;
    padding-right: 0;
    padding-left: 0;
    padding-top: 30px;
    padding-bottom: 20px;
} */