<<<<<<< HEAD
/* body{
    background-image: url("../images/back2.jpg"); 
    background-repeat: repeat;

} */

body{
    background-image: url("../images/g.jpg");
    background-position: 100%, 0%;
    
    

=======
#new-tacos {
	width: 850px;
	margin-top: 60px;
	margin-bottom: 60px;
	padding-top: 40px;
	padding-bottom: 0px;
	background-color:#DCDCDC;
	border-style:solid;
	border-color: black;
	border-radius: 3px;
	font-weight: bold;
	opacity: .7;
	display: flex;
	flex-direction: column;
    justify-content: center;
}

#results-table {
    width: 850px;
	margin-top: 60px;
	margin-bottom: 60px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color:#DCDCDC;
	border-style:solid;
	border-color: black;
	border-radius: 3px;
	font-weight: bold;
	opacity: .7;
	display: flex;
	flex-direction: column;
	justify-content: center;
>>>>>>> 9b26c723dd74207e3eb4ca067576eaa9f42bc5e5
}




body{
    background: url("../images/g.jpg");
    background-size: 1600px, 900px;
}

<<<<<<< HEAD
/* .col-md-12.text-center.border */
.col-md-9.text-center.border

{
    background-color:rgb(235, 96, 96);
    opacity: 0.9;
    color: whitesmoke;
    font-weight: 900;
    font-style: oblique;
=======
#hugeButton{
	background-color: black;
	color: white;
	font-weight: 700;
	margin-bottom: 30px;
	margin-top: 15px;
} 

form input {
    display: inline-block;
    margin: 0px;
>>>>>>> 9b26c723dd74207e3eb4ca067576eaa9f42bc5e5
}


