/* body{
    background-image: url("../images/back2.jpg"); 
    background-repeat: repeat;

} */

body{
    background-image: url("../images/g.jpg");
    background-position: 100%, 0%;
    
    

}

.form-inline{
    background-color: rgba(238, 238, 90, 0.856);

}

/* .col-md-12.text-center.border */
.col-md-9.text-center.border

{
    background-color:rgb(235, 96, 96);
    opacity: 0.9;
    color: whitesmoke;
    font-weight: 900;
    font-style: oblique;
}

button.btn.btn-secondary.my-2.my-sm-0{
    /* margin-left: 60px; */
    color: whitesmoke;
    font-weight: 900;
    font-style: oblique;
    
}