.jumbotron{
	width: 850px;
	background-color: #DCDCDC;
	color: #F8F8FF (248,248,255);
	border-style:solid;
	border-color: black;
	border-radius: 3px;
	font-weight: bold;
	opacity: .7;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#taco-inputs {
	width: 850px;
	margin-top: 60px;
	margin-bottom: 60px;
	padding-top: 25px;
	padding-bottom: 40px;
	background-color:#DCDCDC;
	border-style:solid;
	border-color: black;
	border-radius: 3px;
	font-weight: bold;
	opacity: .7;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* ANIME*/ 
	.ml4 {
	position: relative;
	font-weight: 900;
	font-size: 4.5em;
}

.ml4 .letters {
	position: absolute;
	margin: auto;
	left: 0;
	top: -0.7em;
	right: 0;
	opacity: 0; 
	color: #ea1535;
} 
/*end of anime*/

body{
	background-image: url("../images/g.jpg");
	background-position: 100%, 0%;
}

#form-row {
	padding-bottom: 20px;
	padding-top: 20px;
}

#guac {
	font-size: 50px;
	color: #ea1535;
	font-weight: bold;
	text-align: center;
}

#smallButton{
	background-color: black;
	color: white;
	font-weight: 700;
	
}
#hugeButton{
	background-color: black;
	color: white;
	font-weight: 700;
	margin-bottom: 30px;
	margin-top: 15px;
} 

