.jumbotron{
	width: 850px;
	background-color: #DCDCDC;
	color: #F8F8FF (248,248,255);
	border-style:solid;
	border-color: black;
	border-radius: 3px;
	font-weight: bold;
	opacity: .7;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

<<<<<<< HEAD
/*ANIME*/
.ml4 {
    position: relative;
    font-weight: 900;
    font-size: 4.5em;
  }

  .ml4 .letters {
    position: absolute;
    margin: auto;
    left: 0;
    top: -0.7em;
    right: 0;
    opacity: 0;
  }
  /*END OF ANIME*/

/* body{

    background-image: url("../images/g.jpg");
    background-repeat: repeat;
    background-color: lightblue;

} */

body{
    background-image: url("../images/g.jpg");
    background-position: 100%, 0%;
    
    

}

#smallButton{
    background-color: darkslategray;;
    color: white;
    font-weight: 900;
    font-style: oblique;
  }
  #hugeButton{
    background-color: darkslategray;
    color: white;
    font-weight: 700;
    font-style: oblique;
=======
#taco-inputs {
	width: 850px;
	margin-top: 60px;
	margin-bottom: 60px;
	padding-top: 25px;
	padding-bottom: 40px;
	background-color:#DCDCDC;
	border-style:solid;
	border-color: black;
	border-radius: 3px;
	font-weight: bold;
	opacity: .7;
	display: flex;
	flex-direction: column;
	justify-content: center;
>>>>>>> 9b26c723dd74207e3eb4ca067576eaa9f42bc5e5
}

/* ANIME*/ 
	.ml4 {
	position: relative;
	font-weight: 900;
	font-size: 4.5em;
}

.ml4 .letters {
	position: absolute;
	margin: auto;
	left: 0;
	top: -0.7em;
	right: 0;
	opacity: 0; 
	color: #ea1535;
} 
/*end of anime*/

body{
	background-image: url("../images/g.jpg");
	background-position: 100%, 0%;
}

#form-row {
	padding-bottom: 20px;
	padding-top: 20px;
}

#guac {
	font-size: 50px;
	color: #ea1535;
	font-weight: bold;
	text-align: center;
}

<<<<<<< HEAD
#cont > div > div > nav {
    background-color: transparent !important;
} */

.navbar.navbar-light.bg-light {
    background-color: transparent !important;
    
}
=======
#smallButton{
	background-color: black;
	color: white;
	font-weight: 700;
	
}
#hugeButton{
	background-color: black;
	color: white;
	font-weight: 700;
	margin-bottom: 30px;
	margin-top: 15px;
} 

>>>>>>> 9b26c723dd74207e3eb4ca067576eaa9f42bc5e5
